<link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="logo" height="120" width="80">
        <img src="/assets/basher.png">
    </div>
    <div class="menu">

    </div>
</header>
<section>
    <div>
        <h2 id="bash-header">the bash-read, think, bash</h2>
    </div>
    <br>
    <br>
    <div class="col-s8" id="container">
        <div id="inside">

        </div>
        <h3 class="container-title">Today's Article</h3>


        <!-- This button will trigger our AJAX call -->
        <input id="find-article" type="submit" value="Article Search">
        </form>
        <div id="article-view"></div>

    </div>
</section>

<div class="flash-comments">
    <div class="header">
        <div><img src="/assets/comments.png"></div>
        <div class="text">Comments</div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <form class="pure-form" id="comment-form">
        <div class="comment-form">
            <div class="left-side">
                <div class="row">
                    <input type="text" required placeholder="enter your name" id="new_comment_name">
                    <input placeholder="enter valid email" required type="email" id="new_comment_email">
                </div>
                <div class="row">
                    <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                </div>
            </div>
            <div class="right-side">
                <button type="submit" class="button-secondary pure-button">Send Comment</button>
            </div>
        </div>
    </form>
    <div class="comments-list" id="comments-list">
        {{#each bashingTable}}
            <div class="comment">
                <div class="user-icon">
                    <img src="/assets/user.png" />
                </div>
                <div class="comment-info">
                    <div class="row">
                        <div class="name">{{this.userName}}</div>
                        <div class="email">{{this.userEmail}}</div>
                        <div class="time">{{this.createdAt}}</div>

                    </div>
                    <div class="row">
                        <div class="text">{{this.userComment}}</div>

                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <script id="comment-template" type="text/x-template">
                <div class="user-icon">
                    <img src="/assets/user.png" />
                </div>
                <div class="comment-info">
                    <div class="row">
                        <div class="name">_name_</div>
                        <div class="email">_email_</div>
                        <div class="time">_time_</div>
                    </div>
                    <div class="row">
                        <div class="text">_comment_</div>
                </div>             
            </script>
</div>

</section>

<footer class="row">

    <div class="col s4" class="bottom-list">
        <h3>basher</h3>
        <ul id="list">
            <li><a href="#"></a>-politics</li>
            <li><a href="#"></a>-sports</li>
            <li><a href="#"></a>-pop culture</li>
            <li><a href="#"></a>-video</li>
        </ul>
    </div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

    $("#find-article").on("click", function (event) {
        console.log("button clicked")


        event.preventDefault();



        var queryURL = "https://newsapi.org/v2/top-headlines?q=trump&apiKey=7836d07dd0544103b33582bb01d2440e";

        $.ajax({
            url: queryURL,
            method: "GET"
        }).then(function (response) {
            $("#find-article").text(JSON.stringify(response));
            console.log(response)

            var articleDiv = $("#article-view");

            var pOne = $("<p>").text((response.articles[0].content));
            var pTwo = $("<p>").text((response.articles[0].title));
            var pThree = $("<p>").text((""));

            var pFour = $("<a href='" + response.articles[0].url + "'>" + response.articles[0].url + "</a>").text((response.articles[0].url))
            console.log(pTwo)
            //var pFive = $( "<p>" ).text( ( response.articles[3].urlToImage ) )




            articleDiv.append(pOne);
            pOne.prepend(pTwo)
            pTwo.append(pThree)
            pThree.append(pFour)
            //pFour.append( pFive )

            $(document).on('click', 'a', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                window.open(url, '_blank');
            });
        })
    })

</script>

</body>

</html>
