<div class = "container">
    <nav>
        <div class="nav-wrapper blue lighten-4">
        <a href="#!" class="brand-logo blue-text lighten 2">BASHER</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="" class="blue-text darken 4">LOG IN</a></li>
            <li><a href="" class="blue-text darken 4">SIGN UP</a></li>
        </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="">LOG IN</a></li>
        <li><a href="">SIGN UP</a></li>
    </ul>
    <br>
    <br>
    <div class="center-align">
        <button class="btn waves-effect waves-light btn-large red" id="bashBtn">Start Bashing!</button>
    </div>
</div>


